html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: AN;
  src: url(/font/Arial-Narrow-Bold.woff), url(/font/Arial-Narrow-Bold.woff2),
    url(/font/Arial-Narrow-Bold.eot), url(/font/Arial-Narrow-Bold.ttf);
  font-weight: 600;
}

body {
  font-size: 16px;
  font-family: AN, Arial Narrow, Arial, Helvetica, sans-serif;
  line-height: 0;
  letter-spacing: -1px;
  font-weight: 600;
}

.box {
  position: relative;
  top: 50%;
  border: 1px solid red;
}

.object {
  position: absolute;
}

.day-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  /* font-size: 224; */
  font-size: 148px;
  letter-spacing: -0.5rem;
}

@media (max-width: 490px) {
  body {
    font-size: 19px;
  }
  .day-indicator {
    /* font-size: 112px;
    letter-spacing: -0.25rem; */
    font-size: 64px;
    letter-spacing: -0.1rem;
  }
}
